body
{
    text-align: center;
}
.container{
  background-color:crimson;  
}
#app {
    background-color: rgb(116, 155, 190);
}

#myCarousel
{
    background-color:mediumspringgreen;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
